<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap Practice</title>
        <link rel="stylesheet" href="../styles/uni.style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <section class="section-one">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="logo"> 
            </div>
           <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Work</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                    </li>
              </ul>
            </div>
          </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scroll align-items-baseline">
                        <h1>PLAY TRADITIONAL GAME</h1>
                        <h3>Experience new traditional game</h3>
                    </div>
                    <div class="col-md-12 scroll">
                      <div class="text-center">
                        <!-- <a href="/game" class="btn btn-lg btn-" role="button">Play Now</a> -->
                        <a href ="/game" class="btn btn-lg btn-warning" style="padding-right: 60px; padding-left: 60px; font-weight: bold;">Play Now</a>
                      </div>
                    </div>
                    <div class="col-lg-12 scroll">
                        <div class="text-center">
                            <p>THE STORY</p>
                            <img src="/assets/scroll-down.svg" class="rounded" alt="Ini harusnya panah">
                          </div>
                    </div>
                </div>
            </div>

        <section class="section-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 scroll">
                        <h5>What's So Special?</h5>
                        <h2>THE GAMES</h2>
                    </div>
                    <div class="col-lg-8 scroll">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="/assets/rockpaperstrategy-1600.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/rockpaperstrategy-1600.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/rockpaperstrategy-1600.jpg" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-three">
            <div class="container-three">
                <div class="row">
                    <div class="col-lg-6 scroll ml-6">
                        <h5>What's So Special?</h5>
                        <h2>FEATURES</h2>
                    </div>
                <div class="row">
                    <div class="col-lg-6 scroll ml-6">
                        <h3>TRADITIONAL GAMES</h3>
                        <h5>If you miss your childhood, we provide many traditional games here</h5>
                        <h3>GAME SUIT</h3>
                        <h3>TBD</h2>      
                </div>
            </div>
          </div>
        </section>


        <section class="section-four">
          <div class="features-content">
            <h3>Can My Computer Run This Game?</h3>
            <h1>System<br>Requirements</h1>
          </div>
          <div class="systemreq-box">
                <div class="systemreq-table">
                    <table>
                        <tr>
                            <td>
                                <div class="req-header">OS:</div>
                                <div class="req-body">Windows 7 64-bit only <br> (No OSX support at this time)</div>
                            </td>
                            <td>
                                <div class="req-header">PROCESSOR:</div>
                                <div class="req-body">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="req-header">MEMORY:</div>
                                <div class="req-body">4 GB RAM</div>
                            </td>
                            <td>
                                <div class="req-header">STORAGE:</div>
                                <div class="req-body">8 GB available space</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = 2>
                                <div class="req-header">GRAPHICS:</div>
                                <div class="req-body">NVIDIA GeForce GTX 660 2GB or<br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</div>
                            </td>
                        </tr>
                      </table>
              </div>
          </div>
      </section>


        <section class="section-five">
            <div class="container">
                  <div class="row">
                    <div class="col-lg-6 scroll">
                      <h1>TOP SCORES</h1>
                      <h5>This top score from various games provided on this platofrm</h5>
                      <button type="button" class="btn btn-lg btn-warning" style="padding-right: 60px; padding-left: 60px; font-weight: bold;">See More</button>
                    </div>
                  <div class="col-lg-6 scroll">
                    <div class="card w-75 bg-dark m-5 pr-1">
                      <div class="card-body">
                        <img src="/assets/twitter-card.png" alt="Logo Twitter" class="float-right">
                        <img src="/assets/evan-lahti.jpg" alt="Mas Evan" class="rounded-circle">
                        <h5 class="card-title">Evan Lahti</h5>
                        <p class="card-text">"One of my gaming highlihts of the year."</p>
                      </div>
                    </div>
                    <div class="card2 w-75 bg-dark mt-5">
                      <div class="card-body">
                        <img src="/assets/twitter-card.png" alt="Logo Twitter" class="float-right">
                        <img src="/assets/jada-griffin.jpg" alt="Mbak Jada" class="rounded-circle" style="width: 66px; height: 66px;">
                        <h5 class="card-title">Jada Griffin</h5>
                        <p class="card-text">"The next big thing in the world of streaming and survival games."</p>
                      </div>
                    </div>
                    <div class="card w-75 bg-dark m-5 pr-1">
                      <div class="card-body">
                        <img src="/assets/twitter-card.png" alt="Logo Twitter" class="float-right">
                        <img src="/assets/aaron-williams.jpg" alt="Mas Aaron" class="rounded-circle" style="width: 66px; height: 66px;">
                        <h5 class="card-title">Aaron Williams</h5>
                        <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining  'SOS' is Ridicolous".</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </section>

        <section class="section-six">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 scroll mt-6 mb-5">
                  <img src="/assets/skull.png" alt="Harusnya Skull" class="float-left" style="height: 60%;">
                  </div>
                </div>
              <div class="col-lg-6 scroll">
                <h4>Want to stay in</h4>
                <h4>touch?</h4>
                <h3>NEWSLETTER</h3>
                <h3>SUBSCRIBE</h3>
                <h6>In order to start receiving our news, all you have to do is enter your email address. Everything else will be tajen care by us. We will send you emails containing information about game. We don't spam.</h6>
                <div class="input-group flex-nowrap mt-5">
                  <input type="text" class="form-control" placeholder="Your email address" aria-label="Username" aria-describedby="addon-wrapping">
                  <button type="button" class="btn btn-lg btn-warning ml-3 p-1">Subscribe Now</button>
                </div>
                </div>
              </div>
          </section>       
    </body>
    
    <footer class="bg-dark text-center text-lg-start jus">
      <div class="text-left text-light p-3 bg-dark">
        © 2018 Your Games inc, All Rights Reserved:
      <div class="text-right text-light">PRIVACY POLICY | TERMS OF SERVICE | CODE OF CONDUCT </>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>