<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bootstrap Practice</title>
        <link rel="stylesheet" href="../styles/uni.style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <section class="section-login">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 scroll align-items-middle">
                        <h1>LOGIN TO CONTINUE</h1>
                    </div>
                    <div class="col-md-12 scroll align-items-middle">
                        <form class="formLogin" action="/login" method="post">
                            <div class="form-outline mb-4">
                                <label class="form-label">Username</label>
                                <input type="text" id="username" name="username" class="form-control" />
                                </div>
                        
                            <div class="form-outline mb-4">
                                <label class="form-label">Password</label>
                                <input type="password" id="password" id="password" class="form-control" />
                            </div>

                            <button class="btn btn-warning btn-block mb-4" type="submit">Log in</button>
                        
                        </form>
                    </div>
            </div>
        </section>
        
    </body>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>