h1{
    font-size: 80px;
    font-weight: bold;
}

h2{
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-size: 24px;
    font-weight: bold;
}

h6,h4{
    color: white;
}

/* .row{
    border: 2px white solid;
} */


.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
    display: flex;
    justify-content: space-between !important;
}


.container{
    height: 100vh;
    display: flex;
}

.section-one{
    background-image: url(/assets/main-bg.jpg);
    background-position: center;
    object-fit: scale-down;
    height: 115vh;
    width: auto;
}

.section-one .logo img{
    width: 40px; 
    height: 40px; 
    margin-left: 70px; 
    margin-right:80px;
}

.section-one h1{
    font-size: 80px;
    font-family: 'bebas neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 100px !important;
}


.section-one h3,h2{
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.section-one img,p{
    color: white;
    font-style: bold;
}


.section-two{
    background-image: url(/assets/the-games-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: none;
    height: 100vh;
    padding-top: 180px;
}

.section-two h5{
    font-weight: bold;
    text-align: left;
    color: white;
}


.section-three{
    background-image: url(/assets/features.jpg);
    background-position: center;
    object-fit: cover;
    height: 100vh;
    padding-top: 120px;
}

.section-three h3{
    color: orange;
    text-align: left;
}

.section-three h5,h2{
    color: white;
    text-align: left;
}


.container-three{
    display: flex;
    justify-content: end;
    height: 100vh;
    margin-right: 15px;
}


.section-four{
    height: 960px;
    background-image: url(/assets/requirements.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    justify-content: center;  
    align-items: center;
    color: #FFFFFF;
    /* background-image: url(/assets/requirements.png);
    background-position: center;
    object-fit: cover;
    height: 100vh;
    display: flex;
    justify-content: center; */
}

.features-content{
    position: absolute;
    left: 9.02%;
    top: calc(50% - 73.64px/2 - 307.05px);
}

.features-content h1{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.features-content h3{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.systemreq-box{
    position: absolute;
    left: 120.22px;
    top: 500px;
}

table, th, td {
    width: 600px;
    height: 100px;
    border: 1px solid #979797;
    padding: 15px;
}




.section-five{
    background-image: url(/assets/top-score-bg.png);
    background-position: center;
    object-fit: contain;
    height: 100vh;
    padding-top: 150px;
    display: flex;

}

.section-login{
    background-image: url(/assets/main-bg.jpg);
    background-position: center;
    object-fit: contain;
    height: 100vh;
    display: flex;

}

.section-login .container{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 50%;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    border-radius: 25px;
}

.section-err{
    background-image: url(/assets/main-bg.jpg);
    background-position: center;
    object-fit: contain;
    height: 100vh;
    display: flex;

}

.section-err .container{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height: 50%;
    width: 50%;
    margin: auto;
    padding-top: 100px;
    border-radius: 25px;
    text-align: center;
}



.section-five h1,h5{
    color: white;
    text-align: left;
}


.section-five .card2{
    margin-right: 80px;
}

.section-five .card-body h5{
    display: inline;
}

.section-six{
    background-color: black;
    background-position: center;
    object-fit: cover;
    height: 120vh;
    padding-top: 100px;
}

@media only screen and (max-width:700px){

.section-one h5{
    text-align: center;
}

    .section-one h1{
    font-size: 28px;
    font-weight: bold;
}

.section-one h3{
    font-size: 20px;
}

.section-one .logo img{
    margin-left: 0px;
}

.section-two{
    padding-top: 30px;
    text-align: center;
}

.section-two h1,h2,h3,h4,h5{
    text-align: center;
}


.section-six img{
    width : 80px;
    height: 80px;
}




    


}


    